/* パソコン */
body {
  margin: 0 auto; /* ページ中央に配置 */
  max-width: 960px; /* 固定幅 */
  padding: 10px;
}

/* スマホ */
@media (max-width: 767px) {
  body {
    margin: 0;
    max-width: 100%; /* 画面の全幅 */
    padding: 10px;
  }
}

h2 {
  text-align: center;
}

div.work {
  display: flex;
  margin: 1em 0;
}

div.work > div.text {
  margin: 0 1em;
}

div.work > div.text > h3 {
  margin: 0;
}

div.work > img.work {
  height: 150px;
}

/* 下から */

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 左から */

.fadeLeft {
  animation-name: fadeLeftAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeUpTrigger,
.fadeLeftTrigger {
  opacity: 0;
}
